.login {
  width: 100%;
  height: calc(100vh - 10rem);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  opacity: 0;
  transform: translate(-100px, 0);
  transition: opacity 0.3s ease-in-out;
  animation: fade-in 0.3s ease-in-out forwards;
}
.g-signin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: 0.3s ease;
}
.g-signin-button:hover {
  background-color: rgb(199, 196, 196);
  color: #fff;
}
.google__svg__icon {
  width: 25px;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-100px, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.login.visible {
  opacity: 1;
}
.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login__container form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  border-radius: 5px;
  box-shadow: var(--sombra);
  position: relative;
}
.login__container form label {
  margin-top: 1rem;
  color: var(--color-secondary-focus);
  font-weight: 100;
  margin-bottom: 0.2rem;
}
.login__continue__button {
  border: none;
  color: #fff;
  background-color: var(--link-color);
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: var(--sombra);
  margin-bottom: 1rem;
  cursor: pointer;
}
.login__create__account__button {
  text-align: center;
  cursor: pointer;
}
.create__account__link {
  color: var(--link-color);
}

.login__input {
  outline-color: var(--link-color-2);
  border-color: var(--link-color);
  border-radius: 5px;
  padding: 0.5rem;
  border: 2.5px solid var(--link-color-2);
  box-shadow: var(--sombra);
  margin-bottom: 1rem;
}
.login__container__report_problem {
  background-color: #fff;
  padding: 2.5rem;
  margin-top: 1rem;
  width: 100%;
  border-radius: 5px;
  box-shadow: var(--sombra);
}
.report__problem__title {
  margin-bottom: 1.5rem;
}
.login__container__report_problem span {
  color: var(--color-secondary-focus);
  cursor: pointer;
}

.login__icon {
  width: 20px;
}
.login__divider {
  background-color: rgb(135, 135, 135, 0.3);
  height: 1px;
  width: 100%;
  margin: 1rem 0;
}
.login__report__a__problem__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login__report__a__problema__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login__bottom__container {
  display: flex;
  gap: 1rem;
  font-size: 0.7rem;
  margin-top: 0.4rem;
}
.login__privacity__link,
.login__terms__link {
  color: var(--link-color);
}
.login__return__button {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: var(--link-color);
  cursor: pointer;
  transition: 0.3s ease;
}
.login__return__button:hover {
  color: var(--link-color-2);
}
.login__error__message {
  color: rgb(200, 43, 43);
}
