.products {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.products.visible {
  opacity: 1;
}
.products__offers__carousel {
  margin-bottom: 5rem;
}
.products swiper-container {
  width: 100%;
  height: 100%;
}
.products__container swiper-slide {
  width: 100%;
}
.products img {
  width: 100%;
  object-fit: cover;
}
.products__container {
  width: 80%;
  display: grid;
  grid-template-columns: 20% 78%;
  gap: 2%;
  margin: 0 auto;
}
.products__left__container {
  border: 1px solid #ccc;
  box-shadow: var(--sombra);
  padding: 1.5rem;
  height: 100vh;
  background-color: #fff;
  border-radius: 10px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.products__right__container {
  padding: 1rem;
}
.products__title__container h2 {
  margin-bottom: 1rem;
}
.filters__title {
  font-weight: 300;
  text-align: center;
  font-size: 2.5rem;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: rgb(134, 131, 131, 0.4);
  margin: 0 auto;
  margin: 1.5rem 0;
}
.category__filter__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.category__filter__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.filter__category__title {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
