.products {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.products.visible {
  opacity:1;
}
.products__offers__carousel {
  margin-bottom: 5rem;
}
.products swiper-container {
  width: 100%;
  height: 100%;
}
.products__container {
  width: 80%;
  display: grid;
  grid-template-columns: 20% 78%;
  gap: 2%;
  margin: 0 auto;
}
.products__left__container {
  border: 1px solid pink;
}
.products__right__container {
  border: 1px solid pink;
}
