.hero {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  place-content: center;
}
.hero__container {
  width: 80%;
  display: grid;
  grid-template-columns: 20% 80%;
  box-shadow: var(--sombra);
  border-radius: 10px;
  overflow: hidden;

  background-color: #fff;
}
.hero__left__container {
  border-right: 1px solid #ccc;
  padding: 1rem;
  box-shadow: var(--sombra);
}
.hero__list__item svg {
  font-size: 1.5rem;
  color: grey;
}
.hero__list__item {
  display: flex;
  font-size: 0.8rem;
  font-weight: 500;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.hero__slide {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.hero__description__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
}
.hero__description__container h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero__container p {
  color: var(--color-secondary-focus);
  margin-bottom: 2rem;
}

.hero__image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__description__container span {
  background-color: var(--button-color);
  color: #fff;
  padding: 0.4rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.4s ease;
  cursor: pointer;
}
.hero__description__container span:hover {
  background-color: var(--button-color-hover);
}

.hero__right__container swiper-container {
  width: 100%;
  height: 100%;
}

.hero__right__container swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .hero__container {
    width: 95%;
    grid-template-columns: 8% 90%;
    gap: 2%;
  }
  .hero__list span {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .hero__container {
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
  }
  .hero__left__container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero__left__container svg {
    display: block;
  }
  .hero__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    margin-top: 0.1rem;
  }
  .hero__list__item {
    margin-top: 0.4rem;
  }
  .hero__list__item svg {
    font-size: 1.2rem;
    transition: 0.3s ease;
  }
  .hero__list__item svg:hover {
    color: var(--button-color);
  }
  .hero__right__container {
    width: 100%;
    height: 100%;
  }
  .hero__right__container swiper-container {
    width: 100vw;
    height: 100%;
  }
  .hero__right__container swiper-slide {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: -1rem;
  }

  .hero__description__container h2 {
    font-size: 1rem;
  }
  .hero__description__container p {
    border: 1px solid pink;
    display: none;
  }
  .hero__slide {
    align-items: center;
    flex-direction: column-reverse;
    border: 1px solid pink;
  }
  .hero__image__container {
    width: 100%;
    height: 420px;
  }
  .hero__image__container img {
    object-fit: contain;
  }
}
